locals {
  environment = terraform.workspace == "default" ? "burendo-mgmt" : terraform.workspace
  account = { {% for key, value in accounts.items() %}
      {{key}} = "{{value.number}}"{% endfor %}
    }
  
  email = { {% for key, value in accounts.items() %}
      {{key}} = "{{value.email}}"{% endfor %}
    }

  tags = {
    Environment = local.environment
    Company     = "Burendo"
    Practice    = "Engineering"
  }

  client_aws_email = "clientawsaccounts@burendo.com"
  nhs_data_dashboard_tooling_aws_email = "nhs-data-dashboard-tooling-aws-account@burendo.com"
  nhs_data_dashboard_application_aws_email = "nhs-data-dashboard-application-aws-account@burendo.com"
  safeshout_management_aws_email = "safeshout-management-aws-account@burendo.com"
  safeshout_staging_aws_email = "safeshout-staging-aws-account@burendo.com"
  safeshout_development_aws_email = "safeshout-development-aws-account@burendo.com"
  safeshout_production_aws_email = "safeshout-production-aws-account@burendo.com"
  barnsleyfc_test_aws_email = "barnsleyfc-test-aws-account@burendo.com"
  barnsleyfc_prod_aws_email = "barnsleyfc-prod-aws-account@burendo.com"
}
