locals {
  environment = terraform.workspace == "default" ? "burendo-mgmt" : terraform.workspace
  account = { {% for key, value in accounts.items() %}
      {{key}} = "{{value.number}}"{% endfor %}
    }
  
  email = { {% for key, value in accounts.items() %}
      {{key}} = "{{value.email}}"{% endfor %}
    }

  tags = {
    Environment = local.environment
    Company     = "Burendo"
    Practice    = "Engineering"
  }

  client_aws_email = "clientawsaccounts@burendo.com"
  nhs_data_dashboard_tooling_aws_email = "nhs-data-dashboard-tooling-aws-account@burendo.com"
  nhs_data_dashboard_application_aws_email = "nhs-data-dashboard-application-aws-account@burendo.com"
}
