locals {
  environment = terraform.workspace == "default" ? "burendo-mgmt" : terraform.workspace
  account = { {% for key, value in accounts.items() %}
      {{key}} = "{{value}}"{% endfor %}
    }

  tags = {
    Environment = local.environment
    Company     = "Burendo"
    Practice    = "Engineering"
  }
}
