terraform {
  required_version = "1.14.0"

  backend "s3" {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/burendo/burendo-aws-org.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = false
    dynamodb_table = "terraform-state-lock"
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.aws_production_acc}}:key/{{terraform.state_kms_key_id}}"
  }

  required_providers {
    aws = {
      version = "6.22.1"
    }
  }
}

provider "aws" {
  region = "{{terraform.state_file_region}}"
  
  assume_role {
    role_arn = "arn:aws:iam::${lookup(local.account, local.environment)}:role/${var.assume_role}"
  }
}
